<script>


</script>

<form action="{{ url_for('users_show', user_id=current_user.id) }}?_method=PATCH" method="POST" id="user_form">
                                   
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <p>To confirm changes, enter your password:</p>
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
      {% endfor %}
    {% endif %}
    {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
  
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Edit this user!</button>
      </div>
  </form>